{% extends "layout.html" %}

{% block content %}
<div class="container-xl d-flex flex-column justify-content-center">
  <div class="empty">
    <div class="empty-img">
      <img src="/static/illustrations/undraw_quitting_time_dm8t.svg" height="128" alt="">
    </div>
    <p class="empty-title">Acceso No Autorizado</p>
    <p class="empty-subtitle text-muted">
      No tienes permisos suficientes para acceder a esta página.
    </p>
    <div class="empty-action">
      <a href="/admin" class="btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <line x1="5" y1="12" x2="19" y2="12"/>
          <line x1="5" y1="12" x2="11" y2="18"/>
          <line x1="5" y1="12" x2="11" y2="6"/>
        </svg>
        Volver al Panel de Administración
      </a>
    </div>
  </div>
</div>
{% endblock %}